body{
    background: darkblue;
    color: white;
    width: 940px;
    margin: 0 auto;
}
ul{
    list-style: none;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 1em;
}
li{
    font-size: 22px;
    font-weight: bolder;
    padding: 0 0 1em 0;
}